*{
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}

body{
    background-color: black;
    color: white;
}



h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.8rem;
}
p{
    font-size: 1.2rem;
}


div.container{
    max-width: 1300px;
    justify-content: space-between;
    padding: 40px 0;
    margin: 0 auto ;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

div.container div.info{
    display: flex;
    justify-content: space-between;
}

div.container div.trailer, div.container div.plot, div.container div.cast, div.container div.screenshot{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
div.container div.trailer iframe{
    align-self: center;
}

div.container div.screenshot>div{
    background-color: rgb(42, 42, 42);
    width: 1000px;
    height: 570px;
    align-self: center;
}
div.container div.screenshot>div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;   
}


div.cast-grp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.cast .cast-person{
    width: 400px;
    display: flex;
    align-items: center;
    gap: 20px;
}

div.cast div.img{
    width: 100px;
    height: 100px;
}

div.cast div.img img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




div.cards{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

 div.card{
    width: 250px;
    height: 550px;
    background-color: '#1A1A1A';
    position: relative;
}
div.card div.img{
    height: 350px;
    width: 250px;
}

div.card div.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;     
}

div.card div.bookmark{
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}
div.card div.bookmark:hover{
    padding: 20px 0 0 0;
}

div.card div.about{
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    background-color: #1A1A1A;
}


div.card div.stars{
    display: flex;
    align-items: center;
    gap: 10px;
}
div.card div.stars p{
    margin-right: 20px;
    color: rgb(188, 188, 188);
    font-size: 1.1rem;
}


div.card div.about button{
    font-size: 1.2rem;
    padding: 8px;
    color: #5799EF;
    background-color: #26282c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

div.card div.about button:hover{
    background-color: #2F343B;
}

div.card a{
    text-decoration: none;
}

div.card a div.trailer{
    padding: 5px;
    display: flex;
    border-radius: 5px;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5px;    
} 
div.card a div.trailer:hover{
    background-color: #26282c;
}
div.card a div.trailer p{
    color: white;
    font-size: 1rem;
}
