
.result *{
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    background-color: black;
    color: white;
}


h1{
    font-size: 2.2rem;
}
h2{
    font-size: 1.8rem;
}
p{
    font-size: 1.2rem;
}


div.container{
    max-width: 1300px;
    justify-content: space-between;
    margin: 0 auto ;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

div.container div.info{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

div.container div.trailer, div.container div.plot, div.container div.cast, div.container div.screenshot{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
div.container div.trailer iframe{
    align-self: center;
}

div.container div.screenshot>div{
    background-color: rgb(42, 42, 42);
    width: 1000px;
    height: 570px;
    align-self: center;
}
div.container div.screenshot>div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;   
}


div.cast-grp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.cast .cast-person{
    width: 400px;
    display: flex;
    align-items: center;
    gap: 20px;
}

div.cast div.img{
    width: 100px;
    height: 100px;
}

div.cast div.img img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



