*{
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}
a:visited, a{
    text-decoration: none;
}
body{
    background-color: black;
}

/* Navbar */
div.navbar{
    background-color: #181818;
    color: white;
}

nav{
    max-width: 1300px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 0;
    margin: 0 auto;
}
nav div.search{
    flex-grow: 1;
}
nav div.search input{
    width: 90%;
}

.home_btn, div.search, div.watchlist{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.home_btn:hover, div.watchlist:hover, .search>img:hover, h2.sign-in:hover{
    scale: 1.2;
}

nav h1{
    background-color: #F5C518;
    font-family: 'Roboto Condensed';
    font-size: 1.5rem;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}
nav h2{
    font-weight: 500;
    font-size: 1.2rem;
}

nav input{
    font-size: 1.1rem;
    padding: 5px 10px;
    border: 3px solid #181818;
    border-radius: 7px;
    outline: none;
}

nav input:focus{
    border: 3px solid #F5C518;
}





div.container{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* fleshing card css */
div.flashing-card{
    width: 1300px;
}

div.top-10, div.editor-pic{
    margin-top: 90px;
    width: 1300px;
}

div.flashing-card img{
    display: block;
    margin: auto;
}


/* cards CSS */
div.card-row{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

 div.card{
    width: 250px;
    height: 550px;
    background-color: #1A1A1A;
    position: relative;
}
div.card div.img{
    height: 350px;
    width: 250px;
}

div.card div.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;     
}

div.card div.bookmark{
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}
div.card div.bookmark:hover{
    padding: 20px 0 0 0;

}

div.card div.about{
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
}


div.card div.stars{
    display: flex;
    align-items: center;
    gap: 10px;
}
div.card div.stars p{
    margin-right: 20px;
    color: rgb(188, 188, 188);
    font-size: 1.1rem;
}


div.card div.about button{
    font-size: 1.2rem;
    padding: 8px;
    color: #5799EF;
    background-color: #26282c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

div.card div.about button:hover{
    background-color: #2F343B;
}

div.card a div.trailer{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;    
} 
div.card a div.trailer:hover{
    background-color: #26282c;
}
div.card a div.trailer p{
    color: white;
    font-size: 1rem;
}



/* footer */


footer{
    max-width: 1300px;
    margin: 90px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content:center;
    color: white;

}
footer button{
    background-color: #F5C518;
    border: 1px solid #F5C518; 
    color: black;
    font-family: 'Roboto Condensed';
    font-size: 1rem;
    font-weight: 900;
    padding: 7px 25px;
    border-radius: 5px;
}
footer button:hover{
    background-color: black;
    color: #F5C518;
    cursor: pointer;
}

footer div.social-handle{
    display: flex;
    gap: 40px;
}
footer div.social-handle img{
    padding: 10px;
    border-radius: 50%;
}
footer div.social-handle img:hover{
    background-color: #2F343B;
    cursor: pointer;
}